body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #1d72c2;
  display: -ms-grid;
  display: grid;
  grid-row: 1fr 5fr 2fr;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
}

header ul li {
  text-decoration: none;
  list-style: none;
  margin: 0 20px;
  float: right;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li #contactos {
  -webkit-text-decoration: 2px underline 5px;
          text-decoration: 2px underline 5px;
}

header ul li #contactos::after {
  content: "";
  width: 100%;
  color: white;
  background: white;
  position: absolute;
  margin-top: 20px;
}

#section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr 2fr;
      grid-template-columns: 4fr 1fr 1fr 2fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
}

#section1 h1 {
  margin-left: 30px;
}

#section1 #btn-search {
  position: relative;
  width: 20%;
  height: 35px;
  top: 80px;
  right: 250px;
  background-color: white;
  color: #0683f9;
  border-radius: 4px;
  cursor: pointer;
}

#section1 #jstree {
  position: absolute;
  left: 2.5%;
  top: 20vh;
  z-index: 4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  background-color: white;
  border: 1px solid #ddd;
}

#section1 #jstree .caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  position: relative;
  right: 5%;
  bottom: 30px;
}

#section1 #jstree .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

#section1 #jstree .caret-down::before {
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}

#section1 #jstree a {
  text-decoration: none;
  color: black;
}

#section1 #jstree li {
  list-style: none;
  margin: 20px 0px;
}

#section1 #jstree input {
  -ms-flex-line-pack: center;
      align-content: center;
}

#section1 #jstree .input-jstree {
  position: relative;
  left: 30%;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20%;
}

#section1 #contactos {
  position: relative;
  bottom: 40px;
  width: 80%;
  height: 50px;
}

#section1 .buttons {
  -ms-grid-column: 4;
  grid-column: 4/4;
  -ms-grid-row: 2;
  grid-row: 2/2;
  position: relative;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  right: 25px;
}

#section1 .buttons button, #section1 .buttons input {
  border-color: #1d72c2;
  background-color: white;
  width: 45%;
  height: 45px;
  color: #1d72c2;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#section1 .buttons button:hover, #section1 .buttons input:hover {
  background-color: #1d72c2;
  border-color: white;
  color: white;
}

#section1 .buttons input {
  width: 50%;
  cursor: pointer;
}

#section1 .buttons #upload {
  position: relative;
  width: 12.5%;
  right: 10px;
  height: 45px;
}

/*.table-order {
  table {
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #ddd;
    margin: 2.5%;
    font-weight: normal;
    th {
      font-weight: normal;
      padding: 30px;
      border-bottom: 1px solid #ddd;
    }
    td {
      text-align: center;
      padding: 12px;
      .container-interes {
        width: 100%;
        height: 10px;
        box-sizing: border-box;
        background-color: #ddd;
        border-radius: 10px;
      }
      .color-interes-75 {
        width: 75%;
        height: 10px;
        background-color: #ff6f00;
        border-radius: 10px;
      }
      .color-interes-50 {
        @extend .color-interes-75;
        width: 50%;
        background-color: #ffc700;
      }
    }
  }
}*/
/*# sourceMappingURL=Header.css.map */