body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #1d72c2;
  display: grid;
  grid-row: 1fr 5fr 2fr;
  ul {
    display: flex;
    flex-direction: row;
    float: right;
    li {
      text-decoration: none;
      list-style: none;
      margin: 0 20px;
      float: right;
      a {
        text-decoration: none;
        color: white;
      }
      #contactos {
        text-decoration: 2px underline 5px;
      }
      #contactos::after {
        content: "";
        width: 100%;
        color: white;
        background: white;
        position: absolute;
        margin-top: 20px;
      }
    }
  }
}

#section1 {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  h1 {
    margin-left: 30px;
  }
  #btn-search{
    position: relative;
    width: 20%;
    height: 35px;
    top: 80px;
    right: 250px;
    background-color: white;
    color: #0683f9;
    border-radius: 4px;
    cursor: pointer;
  }
  #jstree {
    position: absolute;
    left: 2.5%;
    top: 20vh;
   z-index: 4;
    grid-column: 1/1;
    background-color: white;
    border: 1px solid #ddd;

    .nested{
      display: none;
    }

    .caret {
      cursor: pointer;
      -webkit-user-select: none; /* Safari 3.1+ */
      -moz-user-select: none; /* Firefox 2+ */
      -ms-user-select: none; /* IE 10+ */
      user-select: none;
      position: relative;
      right: 5%;
      bottom: 30px;
    }

    .caret::before {
      content: "\25B6";
      color: black;
      display: inline-block;
      margin-right: 6px;
    }

    .caret-down::before {
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari */
      transform: rotate(90deg);
    }
    a {
      text-decoration: none;
      color: black;
    }
    li {
      list-style: none;
      margin: 20px 0px;
   
    }
    input {
      align-content: left;
      
    }
    .input-jstree {
      position: relative;
      left: 10%;
      align-content: center;
      width: 20%;
    }
  }

  #contactos {
    position: relative;

    bottom: 40px;
    width: 80%;
    height: 50px;
  }
  .buttons {
    grid-column: 4/4;
    grid-row: 2/2;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    right: 25px;
    button {
      border-color: #1d72c2;
      background-color: white;
      width: 45%;
      height: 45px;
      color: #1d72c2;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background-color: #1d72c2;
      border-color: white;
      color: white;
    }
    input {
      @extend button;
      width: 50%;
      cursor: pointer;
    }
    #upload{
      position: relative;
      width: 12.5%;
      right: 10px;
      height: 45px;
    }
  }
}
#section2{
  th{
    text-align: left;
  }
  td {
    text-align: left;
    padding: 12px;
    .canal{
      background-color: #8ec7fc;
      color: #0683f9;
      width: 40%;
      border: solid 1px #0683f9;
      border-radius: 5px;
      text-align: center;
    }
  }
    .container-interes {
      width: 100%;
      height: 10px;
      box-sizing: border-box;
      background-color: #e8e8e8;
      border-radius: 10px;
    }
    .color-interes-75 {
      width: 75%;
      height: 10px;
      background-color: #ff6f00;
      border-radius: 10px;
    }
    .color-interes-50 {
      @extend .color-interes-75;
      width: 50%;
      background-color: #ffc700;
    }
    .color-interes-25 {
      @extend .color-interes-75;
      width: 25%;
      background-color: #1cc1f5;
    }

}
/*.table-order {
  table {
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #ddd;
    margin: 2.5%;
    font-weight: normal;
    th {
      font-weight: normal;
      padding: 30px;
      border-bottom: 1px solid #ddd;
    }
    
    }
  }
}*/
