.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  /* Modal Content (form and upload) */
}
.modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  background-color: white;
  height: 500px;
}
.modal .modal-content p {
  position: relative;
  width: 60%;
  text-align: center;
  left: 20%;
  top: 115px;
  font-size: 18px;
}
.modal #content-upload {
  width: 50%;
}
.modal #icons-modal {
  position: relative;
  text-align: center;
  position: relative;
  top: 70px;
}
.modal #icons-modal i {
  font-size: 86px;
}
.modal .btn-up {
  margin: 0 20px;
  border-color: #1d72c2;
  background-color: white;
  color: #1d72c2;
  border-radius: 1px;
  font-size: 16px;
  cursor: pointer;
}
.modal .btn-up:hover {
  background-color: #1d72c2;
  color: white;
}
.modal #buttons-upload {
  left: 30%;
  gap: 30px;
}
.modal .modal-title {
  background-color: #1d72c2;
  height: 140px;
}
.modal .modal-title h3 {
  color: white;
  position: relative;
  left: 5%;
  top: 30px;
}
.modal .modal-title button {
  position: relative;
  float: right;
  right: 20px;
  bottom: 10px;
  background-color: #1d72c2;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.modal .modal-head {
  position: absolute;
  top: 210px;
  left: 12.5%;
  background-color: white;
  border: 4px solid #0683f9;
  border-radius: 8px;
  width: 75%;
  height: 120px;
  display: flex;
}
.modal .modal-head button {
  position: relative;
  top: 10px;
  font-size: 60px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  left: 30px;
  color: #0683f9;
  border-color: #0683f9;
  cursor: pointer;
}
.modal .modal-head .fa-camera {
  position: relative;
}
.modal .modal-head #camera {
  position: relative;
  top: 80px;
  color: white;
  border: 1px solid #0683f9;
  height: 17.5px;
  width: 17.5px;
  border-radius: 50%;
  background-color: #0683f9;
}
.modal .modal-head form {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 7.5%;
  gap: 10px;
  top: 15px;
  width: 80%;
}
.modal .modal-head form .form-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal .modal-head form input[type=text], .modal .modal-head form input[type=email] {
  position: relative;
  width: 80%;
  height: 2px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #ddd;
  background: #f1f1f1;
  border-radius: 4px;
}
.modal .modal-form {
  position: relative;
  top: 100px;
  width: 80%;
  right: 40px;
}
.modal .modal-form form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.modal .modal-form form .form-block {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15%;
}
.modal .modal-form form select, .modal .modal-form form input {
  margin: 5px;
  position: relative;
  width: 145px;
  height: 25px;
}
.modal .modal-form form input {
  height: 20px;
}
.modal .modal-form form button {
  position: relative;
  left: 20%;
  height: 28px;
  top: 24px;
  background-color: white;
  color: gray;
  border-color: gray;
  cursor: pointer;
}
.modal .modal-footer {
  position: relative;
  top: 35%;
  left: 60%;
  width: 40%;
  height: 70px;
}
.modal .modal-footer .modal-button {
  position: relative;
  width: 34%;
  height: 40px;
  cursor: pointer;
}
.modal .modal-footer #modal-guardar {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
}
.modal .modal-footer #modal-cancelar {
  background-color: white;
  border: none;
}

#modal-delete {
  position: absolute;
  top: 20%;
  left: 30%;
  border: 4px solid #de0028;
  margin: auto;
  width: 40%;
  background-color: #e8e8e8;
  height: 200px;
}/*# sourceMappingURL=modal.css.map */